<div class = "p-5 mb-4 bg-light rounded-3">
    <div class ="container-fluid py-5">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>